<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            <title>
                Access Key Manager
            </title>
        {% endblock %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    </head>
    <body>
        
            <div class="wrapper">
                {% block sidebar %}
                    <div class="sidebar">
                        <h2>Sidebar</h2>
                        <ul>
                            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                            <li><a href="#"><i class="fas fa-user"></i>{{user.username}}username:</a></li>
                            <li><a href="#"><i class="fa-solid fa-school"></i>{{user.username}}school:</a></li>
                            <hr>
                            <li><a href="#"><i class="fa-solid fa-key"></i>View Keys</a></li>

                        </ul> 
                    </div>
                {% endblock %}
            </div>
        
            {% block main_content %}
                
            {% endblock %}
    </body>
</html>