{% extends 'base.html' %}

{% block main_content %}
    <div class="main_content">
        <div class="header">
                AKM by Valerie and Freda-Marie
        </div>
        {% if user.is_authenticated %}

        <div class="info">
            <div class="p_keys">
                <h2>
                    Purchase Access Keys
                </h2>
                <div class="wrapper1">
                    <div class="item item_1">
                        <h3>
                            Month
                        </h3>
                        {% load static %}
                        <img src="{% static 'img/book-solid.png' %}" alt="">
                        <div class="description">
                            <p>Lasts for a month</p>
                            <p>Very cheap</p>
                        </div>
                        <div class="price">
                            <h3>
                                <sup>
                                    GH¢
                                </sup>
                                30
                                
                            </h3>
                        </div>
                        <div class="btn">
                            <a href="#">Purchase Key</a>
                        </div>
                    </div>
                    <div class="item item_2">
                        <h3>
                            Quarterly
                        </h3>
                        {% load static %}
                        <img src="{% static 'img/graduation-cap-solid.png' %}" alt="">
                        <div class="description">
                            <p>Lasts for 3 months</p>
                            <p>Avergaely cheap</p>
                        </div>
                        <div class="price">
                            <h3>
                                <sup>
                                    GH¢
                                </sup>
                                300
                                
                            </h3>
                        </div>
                        <div class="btn">
                            <a href="#">Purchase Key</a>
                        </div>
                    </div>
                    <div class="item item_3">
                        <h3>
                            Annually
                        </h3>
                        {% load static %}
                        <img src="{% static 'img/pen-clip-solid.png' %}" alt="">
                        <div class="description">
                            <p>Lasts for a year</p>
                            <p>Not cheap</p>
                        </div>
                        <div class="price">
                            <h3>
                                <sup>
                                    GH¢
                                </sup>
                                3000
                                
                            </h3>
                        </div>
                        <div class="btn">
                            <a href="#">Purchase Key</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {% load static %}
        <img src="" alt="">
        You can not access this site unless you have an account.
        <br>
        <button>
            <a href="{% url 'login' %}">
                Log in
            </a>
        </button>
        <button>
            <a href="{% url 'user_sign-up' %}">
                Sign up
            </a>
        </button> 
        {% endif %}
            
        
    </div>
{% endblock main_content %}