{% extends 'base.html' %}

{% block main_content %}
    <div class="main_content">
        <div class="header">
            AKM by Valerie and Freda-Marie
        </div>
        <div class="info">
            <div class="p_keys">
                <h2>
                    Purchase Access Keys
                </h2>
                <div class="wrapper1">
                    <div class="item item_1">
                        <h3>
                            Starter
                        </h3>
                        {% load static %}
                        <img src="{% static 'img/book-solid.png' %}" alt="">
                        <div class="description">
                            <p>1 Account</p>
                            <p>Limsnsk</p>
                        </div>
                        <div class="price">
                            <h3>
                                <sup>
                                    GH¢
                                </sup>
                                30
                                
                            </h3>
                        </div>
                        <div class="btn">
                            <a href="#">Purchase Key</a>
                        </div>
                        <div class="item item_2">
                            <h3>
                                Premium
                            </h3>
                            {% load static %}
                            <img src="{% static 'img/graduation-cap-solid.png' %}" alt="">
                            <div class="description">
                                <p>1 Account</p>
                                <p>Limsnsk</p>
                            </div>
                            <div class="price">
                                <h3>
                                    <sup>
                                        GH¢
                                    </sup>
                                    300
                                    
                                </h3>
                            </div>
                            <div class="btn">
                                <a href="#">Purchase Key</a>
                            </div>
                        </div>
                        <div class="item item_3">
                            <h3>
                                Laxury
                            </h3>
                            {% load static %}
                            <img src="{% static 'img/pen-clip-solid.png' %}" alt="">
                            <div class="description">
                                <p>1 Account</p>
                                <p>Limsnsk</p>
                            </div>
                            <div class="price">
                                <h3>
                                    <sup>
                                        GH¢
                                    </sup>
                                    3000
                                    
                                </h3>
                            </div>
                            <div class="btn">
                                <a href="#">Purchase Key</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}