{% extends 'base.html' %}

{% block main_content %}
    <div class="main_content">
        <div class="header">
            Sign in School Personnel
        </div>
        <div class="info">
            <div>
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                        {% comment %} <label for="Username">Username: </label>
                        <input id="Username" type="text" name="user" value="{{ current_name }}">
                        {% endcomment %}
                        <input type="submit" value="Submit"> 
                    </form>
                </form>
            </div>
        </div>
    </div>
    
    
{% endblock %}