{% extends 'base.html' %} {% block main_content %}
<div class="main_content">
  <div class="header">My Access Keys</div>
  <div class="info">
    <div>
      {% if access_key_list %}
      <p>ID | Key Duration | Status | token</p>
      {% for access_key in access_key_list %}
      <table style="border: 1px solid">
        <div style="border: 1px solid, display: flex, flex-direction: row">
          <p style="padding: 10px">
            {{access_key.id}} | {{access_key.key_duration}} |
            {{access_key.status}} | {{access_key.token}}
          </p>
        </div>

        {% endfor %}
      </table>

      {% else %} You currently have no access keys {% endif %}
    </div>
  </div>
</div>

{% endblock %}
